# Core Functionality
Django==5.2.4 # High-level Python web framework
celery==5.5.3 # Distributed task queue (executes tasks asynchronously)
redis==6.2.0 # Python client for Redis
psycopg==3.2.9 # PostgreSQL database adapter for Python
psycopg-binary==3.2.9 # Binary distribution of psycopg (often used for easier installation)
django-allauth==65.9.0 # Integrated set of Django applications for authentication, registration, etc.

# Core Functionality - Tasks
django-celery-results==2.6.0 # For storing task results in Django DB
django-celery-beat==2.8.1 # For storing and managing periodic tasks in Django DB